/* Task 13: Styling anchor elements and their states */

/* Normal unvisited links */
a[href]:link {
    color: var(--text-color);
    text-decoration: none; /* Remove underline by default */
  }
  
  /* Visited links */
  a[href]:visited {
    font-style: italic;
    color: var(--text-color);
    text-decoration: none; /* Keep underline removed */
  }
  
  /* Hover state */
  a[href]:hover {
    text-decoration: underline; /* underline on hover */
    color: var(--text-color);
  }
  
  /* Active state */
  a[href]:active {
    background-color: var(--color-light-grey);
    color: var(--text-color);
  }
  